*{
	font-family: 'Open Sans', sans-serif;
}

body, html{
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1{
	text-align: center;
}

a{
  text-decoration: none;
  color: initial;
}

.logo-text{
	margin-left: 40%;
}

.container-top{
	position: relative;
  background-color: #33B4EB;
  height: 68px;
  padding-top: 10px;
}

.nav-bar{
	background-color: #0D8BC1;
  position: relative;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  float: right;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
  background: none;
  color: white;
  border: 1px solid white;
}

.fa-twitter {
  background: none;
  color: white;
  border: 1px solid white;
}

li{
	display: inline;
	margin: 5px;
}

ul{
	margin: 0;
	padding: 0;
}

.dropdown-list {
  text-align: center;	
  display: none;
  position: absolute;
  background-color: black;
  min-width: 50%;
  overflow: visible;
}

.dropdown-list a {
  color: white;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-list a:hover {
	background-color: #33B4EB;
}

.dropdown:hover .dropdown-list {
	display: block;
}

.dropdown:hover .drop-button {
	background-color: black;
	color: white;
}

.main-content {
    padding: 5px 40px 5px 40px;
}

.column {
  float: left;
  width: 33.33%;
  height: 180px;
}

.slides {
  display: none
}

#slide-img {
  vertical-align: middle;
}

.img-slideshow {
  max-width: 60%;
  margin: auto;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.img-dot{
  text-align: center;
  padding-bottom: 100px;
}

.active, .dot:hover {
  background-color: #33B4EB;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  } 
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  } 
  to {
    opacity: 1
  }
}

.footer{
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #33B4EB;
  bottom: 0px;
  display: inline;
}

.footer-text-left{
  float: left;
  padding: 5px 5px 5px 5px;
}

.footer-text-right{
  float: right;
  padding: 5px 5px 5px 5px;
}


